<!DOCTYPE html>
<html ng-app="app" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MyPocket</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body ng-controller="ProductController as prodControl">
<header>
    <h1 class="logo">My Pocket &lt; /&gt;</h1>

    <nav id="topnav">
        <div class="menu">
            <li><a href="/">Strona główna<a/></li>
            <li><a href="#" th:href="@{/userpanel}">Panel użytkownika<a/></li>
            <li><a href="#" th:href="@{/register}">Rejestracja<a/></li>
            <li><a href="#" th:if="${login}" th:text="${login}" th:href="@{/login}">Zaloguj<a/></li>
            <li><a href="#" th:if="${logout}" th:text="${logout}">Wyloguj<a/></li>
        </div>

        </ul>
    </nav>
</header>

<main>

    <h1>{{prodControl.appName}}</h1>
    <form>
        <input type="text" ng-model="prodControl.product.name" placeholder="Name"><br>
        <input type="text" ng-model="prodControl.product.producer" placeholder="Producer"><br>
        <input type="text" ng-model="prodControl.product.calories" placeholder="calories"><br>
        <button ng-click="prodControl.addProduct(prodControl.product)">Add Product</button>
    </form>

    <ul>
        <li ng-repeat="prod in prodControl.products">
            {{prod.name}} - {{prod.producer}} ({{prod.calories}} calories)
        </li>
    </ul>


    <br />
    <br />
    <br />
    <br />

<p th:if="validationMessage" th:text="${validationMessage}">Default validation message</p>
<p th:if="${message}" th:text="${message}">This will show if user was added</p>

<h3>Dodaj produkt</h3>
<div id="addForm">
    <form action="#" th:action="@{/addProduct}" method="post" th:object="${Product}">
        <p>Nazwa: </p>
        <input type="text" name="name">
        <br/>
        <p>Kalorie na 100g:</p>
        <input type="number" name="calories">
        <br/><br/>
        <textarea rows="5" cols="20" name="details">Opis...</textarea>
        <br/>
        <input type="submit" value="Dodaj">
    </form>
</div>

<h3>Dodaj produkt do listy usera</h3>
<form action="#" th:action="@{/addProductToList}" method="post" th:object="${Product}">
    <p>Nazwa: </p>
    <input type="text" name="name">
    <br/>
    <p>Kalorie na 100g:</p>
    <input type="number" name="calories">
    <br/><br/>
    <textarea rows="5" cols="20" name="details">Opis...</textarea>
    <br/>
    <input type="submit" value="Dodaj">
    <br />

</form>


</main>


<!--
<form action="logmeout" th:action="@{/logmeout}" method="post">
    <input type="submit" value="Logout">
</form>
-->

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>