<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MyPocket</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">



</head>
<body>
    <header>
        <h1 class="logo">My Pocket &lt; /&gt;</h1>

            <nav id="topnav">
                <ul class="menu">
                    <li><a href="index.html">Strona główna<a/></li>
                    <li><a href="userpanel.html">Panel użytkownika<a/></li>
                    <li><a href="#" th:href="@{/register}">Rejestracja<a/></li>
                    <li><a href="login_form.html">Zaloguj się<a/></li>
                </ul>
            </nav>

    </header>

    <p th:if="validationMessage" th:text="${validationMessage}">Default validation message</p>
    <p th:if="${message}" th:text="${message}">This will show if user was added</p>

    <a href="#" th:href="@{/register}">Zarejestruj się człeku!</a>

    <br /><br />
    <a href="userpanel">Go to user panel</a>

    <!--
    <form action="logmeout" th:action="@{/logmeout}" method="post">
        <input type="submit" value="Logout">
    </form>
    -->


</body>
</html>