<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Hello in my world!</h2>


<h1>Register User (Validator)</h1>
<p th:if="validationMessage" th:text="${validationMessage}">Default validation message</p>

<p th:if="${message}" th:text="${message}">This will show if user was added</p>

<form action="#" method="post" th:action="@{/register}" th:object="${user}">
    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username errors</p>
    <input type="text" th:field="*{username}" placeholder="Username" />
    <br /><br />
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password errors</p>
    <input type="password" th:field="*{password}" placeholder="Password" />
    <br /><br />
    <p th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}">Email errors</p>
    <input type="email" th:field="*{eMail}" placeholder="E-mail" />
    <br /><br />
    <input type="submit" value="Register" />
</form>

    <br />
    <a href="/">Wracaj na mejna</a>



</body>
</html>