<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<body>

<div th:if="not ${productList.isEmpty()}">
<h1>Twoje produkty: </h1>
<table border="1">
    <tr>
        <th>Nazwa</th>
        <th>Kalorie</th>
        <th>Opis</th>
    </tr>
    <tr th:each="product: ${productList}" th:object="${product}">
        <td th:text="*{name}">Masło</td>
        <td th:text="*{calories}">Masło</td>
        <td th:text="*{producer}">Milka</td>
    </tr>
</table>
</div>
<div th:if="${productList.isEmpty()}">
    <h1>There is no data yet :(</h1>
</div>

</body>
</html>