<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
 <p>Welcome in user panel</p>


    <p>Your calories today: </p>
    <p th:text="*{sum}">0</p>



    <br /><br />
    <a th:href="@{/show_list}">Show your products list</a>

 <h3>Dodaj produkt do listy usera</h3>
 <form action="#" th:action="@{/addProductToList}" method="post" th:object="${Product}">
     <p>Nazwa: </p>
     <input type="text" name="name">
     <br/>
     <p>Kalorie na 100g:</p>
     <input type="number" name="calories">
     <br/><br/>
     <textarea rows="5" cols="20" name="details">Opis...</textarea>
     <br/>
     <input type="submit" value="Dodaj">
     <br />

 </form>

</body>
</html>